@import "header.css";
@import "post.css";
@import "footer.css";
@import "navigation.css";
@import "other_posts.css";

body {
  background-color: #fff6e9;
  font-family: "Lucida Bright", cursive, "Gill Sans", Georgia, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.box {
  background: #f8fa9d;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

@media(min-width: 900px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 10% 6.5% 80% 6%;
    grid-template-areas:
      "head head head"
      "nav nav nav"
      ". main right"
      "foot foot foot";
  }
}
