@import "header.css";
@import "post.css";
@import "footer.css";
@import "navigation.css";
@import "other_posts.css";

body {
  background-color: #fff6e9;
  font-family: "Lucida Bright", cursive, "Gill Sans", Georgia, sans-serif;
}

#container {
  display: grid;
  grid-template-columns: minmax(auto, 100vw);
  grid-template-rows: 10% 60% 10% 10% 10%;
  grid-template-areas:
    "head"
    "main"
    "left"
    "right"
    "foot";
  grid-gap: 1px;
}

.box {
  background: #f8fa9d;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

@media(min-width: 900px) {
  #container {
    display: grid;
    grid-template-columns: 12% 76% 12%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
      "head head head"
      "left main right"
      "foot foot foot";
  }
}
