#header {
  grid-area: head;
  background-color: #9bceb5;
  order: 1;
}

#header_container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "logo social"
    "title title";
}

.header_box {
  height: 50px;
}

#social_media_container {
  grid-area: social;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.social_icon {
    height: 50px;
}

#logo {
  grid-area: logo;
}

#page_title {
  grid-area: title;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  overflow: visible;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 15px;
}

@media(min-width: 900px) {
  #page_title {
    font-size: 26px;
  }

  #header_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20%;
    grid-template-areas:
      "logo title social";
  }
}
