@import "header.css";
@import "footer.css";
@import "navigation.css";
@import "post_card.css";

body {
  background-color: #fff6e9;
  font-family: "Lucida Bright", cursive, "Gill Sans", Georgia, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#content_container {
  background-color: #fff6e9;
  display: flex;
  flex-direction: column;
}

.box {
  background: #F8FA9D;
  padding: 10px;
  margin: 0px 2px 2px 2px;
  border-radius: 5px;
}

@media(min-width: 600px) {
  #content_container {
    padding: 0px 160px;
    /*justify-content: space-around;*/
  }
}

@media(min-width: 900px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 12% 9% 70% 8%;
    grid-template-areas:
      "head head head"
      "nav nav nav"
      ". main right"
      "foot foot foot";
  }

  #content_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 40% 40% 10%;
    grid-gap: 10px;
    grid-template-areas:
      "title title title"
      "post1 post2 post3"
      "post4 post5 post6"
      "foot foot foot";
    padding: 0px;
  }

  .blog_card_title {
    font-size: 20px;
  }
}

/* Main content section */
#content {
  grid-area: main;
  background-color: #fff6e9;
  order: 3;
}

#content_title {
  grid-area: title;
  text-align: center;
  color: #b85c3c;
}
